:root {
  .VPNavBar:not(.has-sidebar) {
    background-color: var(--vp-nav-height);
    backdrop-filter: blur(12px);
  }

  .DocSearch-Button {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
  }

  .VPContent.has-sidebar .curtain,
  .VPLocalNav {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }
}
