/**
 * 桌面端样式入口
 * 只包含桌面端相关的样式，适用于桌面端应用
 */

@import './common/variables.scss';
@import './desktop/PostEditorLayout.desktop.scss';
@import './desktop/PostMetadataForm.desktop.scss';
@import './desktop/PostContentEditor.desktop.scss';
